:root {
    --blue: #0f62f9;
    --darkblue: #003cbf;
    --green: #5dac46;
    --gray: #ededed;
    --black: #112950;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Dosis', sans-serif;
}

body {
    background: var(--gray);
}

.container-body {
    background: var(--gray);
    color: var(--black);
    width: 1296px;
    margin: 60px auto 0;
    font-weight: 600;
    margin-top:5%;
}

.body-header {
    display: flex;
    margin: 0 0 24px;
    padding: 0px 24px;
}

    .body-header li {
        display: flex;
        align-items: center;
        list-style: none;
        margin-left: 9px;
        line-height: 20px
    }

        .body-header li i {
            color: var(--green);
            font-size: 4px;
            margin-right: 9px;
        }

        .body-header li:first-child {
            margin-left: 0;
        }

        .body-header li:first-child,
        .body-header li:nth-child(2) {
            opacity: .3;
        }

.content-body {
    padding: 0 60px 0 24px;
    display: flex;
    justify-content: space-between;
}

.ct-left-box h3 {
    margin-bottom: 10px;
}

.ct-left-box,
.ct-right-box {
    background: #fff;
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 12px;
    height: auto;
}

    .ct-left-box:first-child {
        width: 827px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

.ct-left3-div a {
    text-decoration: underline;
    font-size: 15px;
    line-height: 13px;
    margin-left: 8px;
}

.index {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background: var(--blue);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    line-height: 22px;
}

.checkout-title {
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
}

.left-box-2 {
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding: 20px 0px;
    font-size: 16px;
}

    .left-box-2:last-child {
        border: none;
    }

    .left-box-2 img {
        margin-right: 20px;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .left-box-2 .name-product {
        /* margin-left: -70px; */
        line-height: 24px;
        width: 200px;
    }

.preview-cost {
    width: 200px;
    font-size: 15px;
    color: var(--blue);
}

.left-box-2 div {
    font-size: 15px;
}

    .left-box-2 div p:first-child {
        color: #8e9aab;
        text-decoration: line-through;
    }

    .left-box-2 div p:last-child,
    .left-box-2 p:last-child {
    }

.ct-left-box:nth-child(2) {
    width: 827px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ct-left3-div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.left-box-2 {
    display: flex;
    align-items: center;
}

.ct-left-box:nth-child(4) div:first-child {
    margin-bottom: 10px;
}

.left-box-btn1,
.left-box-btn2 {
    border-radius: 12px;
    border: none;
    width: 281px;
    height: 54px;
    font-size: 17px;
    line-height: 22px;
}

.left-box-btn1 {
    color: #fff;
    background: var(--blue);
}

.left-box-btn2 {
    color: var(--blue);
    width: auto;
    margin-left: 20px;
}

.tabs-delivery .span {
    border-bottom: 1.5px solid #ddd;
    width: 100%;
}

.span h4 {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
    font-weight: 700;
    font-size: 14px;
    width: 150px;
    margin: 0 auto;
}

.wrap-modal-delivery {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

    .wrap-modal-delivery .btn-delivery {
        background: none;
        border: none;
        margin-left: 10px;
        text-decoration: underline;
        color: var(--blue);
    }

    .wrap-modal-delivery .modal-footer {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

        .wrap-modal-delivery .modal-footer button {
            width: 130px !important;
        }

.box-delivery {
    border: 1.5px solid #ddd;
    padding: 15px 5px;
    border-radius: 10px;
    margin-top: 20px;
}

.delivery-item1,
.delivery-item2 {
    width: 120px !important;
}

.delivery-item1 {
    color: #8e9aab;
    margin-right: 210px !important;
}

.delivery-item2 {
    margin-left: -215px !important;
    color: var(--green) !important;
}

.box-delivery i {
    margin-left: 20px;
}

.box-delivery div p {
    text-align: left;
}

.box-delivery .checkmark {
    top: 22px;
    right: 10px;
}

.box-money {
    width: 500px;
    height: 76px;
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    margin: 0px 0 22px;
    cursor: pointer;
    padding: 10px;
}

    .box-money img {
        width: 24px;
        height: 24px;
        margin-right: 30px;
    }

    .box-money .checkmark {
        top: 24px;
        right: 10px;
    }

.money {
    width: 100% !important;
}

.ct-right-box {
    width: 365px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discount-wrap {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.btn-discount {
    font-size: 15px;
    padding: 4px 16px;
    box-shadow: inset 0 0 0 1px #0f62f9;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    border: none;
    outline: none;
    background-color: transparent;
    color: #0f62f9;
    line-height: 24px;
    cursor: pointer;
}

    .btn-discount::before {
        top: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .btn-discount::after {
        bottom: 0;
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
        transform: translateY(50%);
    }

    .btn-discount::after,
    .btn-discount::before {
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #0f62f9;
        left: 75%;
        background-color: #fff;
    }

h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px
}

.ct-right-box:nth-child(2) {
    height: auto;
}

.right-box-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.total-money {
    color: #feaa48;
    font-size: 20px;
}

.btn-order {
    background-color: #feaa48;
}

.btn-order {
    background: #feaa48;
    width: 317px;
    height: 54px;
    border-radius: 12px;
    border: none;
    color: #fff;
    font-size: 17.008px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 10px;
}

.modal-header,
.modal-footer {
    border: none;
}

.left-box-btn2 .modal-body {
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #0000;
    padding: 0 30px;
    height: 300px !important;
}

.btn-location {
    text-align: center;
    border: none;
    height: 34px;
    background: #f2f4f5;
    color: var(--black);
    padding: 0 20px;
    border-radius: 12px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#left-box-btn2 .modal-body p {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
}

.modal-body input {
    margin-bottom: 20px;
    border: none;
    border-bottom: 1.5px solid #8e9aab;
}

    .modal-body input::placeholder {
        color: #8e9aab;
    }

textarea {
    height: 80px;
    border: 1.5px solid #8e9aab;
    border-radius: 12px;
    padding: 0;
    font-size: 18px;
}

    textarea::placeholder {
        padding: 5px;
        font-size: 15px;
    }

.location {
    background: var(--green);
    color: #fff;
}

.modal-left {
    width: 333px !important;
    flex-direction: column;
}

#left-box-btn1 .modal-body .modal-left img {
    width: 333px;
    height: 168px;
    border-top-left-radius: 15px;
}

.modal-left-text {
    box-sizing: border-box;
    padding: 20px;
    height: 332px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .modal-left-text h2 {
        color: var(--green);
        font-weight: 700;
        font-size: 23px;
        text-align: left;
    }

    .modal-left-text p {
        text-align: left;
        cursor: none;
        padding: 0;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
    }

    .modal-left-text div {
        background-color: #fffadd;
        border: 1px solid #feaa48;
        padding: 16px;
        width: 293px;
        height: 134px;
        border-radius: 12px;
        line-height: 25px;
        font-size: 15px;
        font-weight: normal;
    }

        .modal-left-text div a {
            color: var(--green);
            text-decoration: underline;
        }

.form-login {
    width: 500px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

    .form-login h1 {
        color: var(--black);
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 30px;
    }

    .form-login h2 {
        text-align: right;
        margin-bottom: 10px;
    }

        .form-login h2 a {
            font-size: 17px;
            color: #8e9aab;
            text-decoration: none;
        }

    .form-login h3 {
        text-align: center;
        font-size: 15.008px;
        line-height: 22px;
    }

    .form-login a {
        color: var(--green);
        font-size: 17px;
        font-weight: 700;
        line-height: 22px;
        text-align: center;
        text-decoration: underline;
    }

.form-group {
    display: flex;
    flex-direction: column;
}

.needs-validation {
    padding: 0 55px;
}

    .needs-validation button {
        background: var(--blue);
        color: #fff;
        width: 100%;
        height: 54px;
        font-size: 17px;
        padding: 8px 20px;
        border-radius: 12px;
        line-height: 22px;
        font-weight: 700;
        margin-bottom: 20px;
    }

        .needs-validation button:hover {
            color: #fff;
        }

#uname {
    background-image: url(../img/user.png);
}

#pwd {
    background-image: url(../img/lock.png);
}

#uname,
#pwd {
    background-repeat: no-repeat;
    background-position: 0;
    height: 20px;
}

.form-group {
    border-bottom: 1.5px solid #ddd;
    padding: 5px;
}

    .form-group input {
        padding-left: 35px;
        border: none;
        box-shadow: none;
        font-size: 17px;
        font-weight: 600;
    }

#btn-discount .modal-content {
    width: 375px;
    border-radius: 15px;
}

.modal-content .modal-footer {
    margin-top: 25px;
    box-shadow: #888888 0px 0px 16px 0px;
    border-radius: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

    .modal-content .modal-footer button {
        width: 100%;
        height: 40px;
        font-weight: 600;
    }

.modal-content p {
    text-align: center;
}

.modal-content img {
    width: 220px;
    height: 220px;
    margin: 0 auto;
}

#btn-discount .modal-body {
    display: flex;
    flex-direction: column;
}

.modal.fade.show {
    padding: 0 !important;
}

#btn-discount .modal-body input {
    border: 1px solid #ddd;
    border-radius: 12px;
    height: 54px;
    padding-left: 20px;
}

#btn-discount .modal-body .left-box-btn1 {
    height: 54px;
    width: auto;
    padding: 0 20px;
}

.ct-left-box:nth-child(2) {
    height: auto;
}

.info-client-wrap {
    width: 100%;
    height: auto;
    border: 1px solid #b2bac6;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    padding: 10px;
    border-radius: 12px;
    margin-top: 20px;
}

.info-client {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

    .info-client input {
    border: none;
    font-size: 17px;
    }

    .info-client div {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        width: 100%;
    }

        .info-client div p:first-child {
            width: 100px;
        }

        .info-client div:last-child {
            flex-direction: column;
        }

            .info-client div:last-child p:last-child {
                width: 100%;
                text-align: left;
            }

        .info-client div p:last-child {
            width: 170px;
            text-align: right;
        }

.info-client-wrap a {
    text-decoration: underline;
}

.info-client-other {
    border: none;
    width: auto !important;
    height: 22px;
    background: var(--green);
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    padding: 2px 10px;
    border-radius: 12px;
}

.box-discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .box-discount div {
        font-size: 14px;
        margin-right: 120px;
    }

    .box-discount input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

.checkmark {
    position: absolute;
    top: 11px;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.box-discount:hover input ~ .checkmark {
    background-color: #ccc;
}

.box-discount input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.box-discount input:checked ~ .checkmark:after {
    display: block;
}

.box-discount .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.count-wrap {
    font-size: 13px !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 !important;
}

    .count-wrap button {
        border-radius: 2px;
        border: none;
        background: var(--blue);
        color: #fff;
        font-size: 13px;
        width: 21px;
    }

.counter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    margin-right: 40px;
}

    .counter a {
        padding: 2px 0;
        border-radius: 2px;
        background: var(--gray);
        width: 100%;
        text-align: center;
        margin-top: 5px;
    }

.wrap-preview-total-cost {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .wrap-preview-total-cost h5 {
        font-size: 16px;
        margin-left: 55px;
        color: #feaa48;
    }

    .wrap-preview-total-cost p {
        color: #112950;
        font-size: 15px;
    }
.disblur {
    height: 1700px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #0f62f9;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    margin: 0 auto;
}

.blur {
    width: 100%;
    height: 1700px;
    opacity: .3;
    visibility: visible;
}
.popup-purchase {
    position: absolute;
    justify-content: space-between;
    padding: 12px 16px;
    border: 1px solid white;
    background-color: white;
    border-radius: 12px;
    opacity: 0;
    border: 1px solid #dfe6e9;
    margin-left: -410px;
    margin-top: -174px;
    visibility: hidden;
    transition: 0.5s;
    z-index:100
}

.active-popup-purchase {
    opacity: 1;
    transition: 0.5s;
    visibility: visible
}

.popup-purchase h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}

.popup-purchase p {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #112950;
    margin-bottom: 10px;
}
.discount-point {
    display: flex;
    justify-content: space-between;
    width: 146%;
    margin: 20px 0 5px;
}

.btn-point {
    font-size: 12px;
    padding: 4px 16px;
    box-shadow: inset 0 0 0 1px #5dac46;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    border: none;
    outline: none;
    background-color: transparent;
    color: #5dac46;
    line-height: 24px;
    cursor: pointer;
    width: 128px;
}

    .btn-point::before {
        top: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .btn-point::after {
        bottom: 0;
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
        transform: translateY(50%);
    }

    .btn-point::after,
    .btn-point::before {
        content: '';
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #5dac46;
        left: 75%;
        background-color: #fff;
    }