:root {
    --blue: #0f62f9;
    --darkblue: #003cbf;
    --green: #5dac46;
    --gray: #ededed;
    --black: #112950;
}

* {
    font-family: 'Dosis', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background: var(--blue);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.container-header {
    background: var(--blue);
    width: 100%;
    height: 132px;
    padding: 10px 24px;
    display: flex;
    flex-direction: column;
    width: 1215px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}

.header-top-left {
    display: flex;
    align-items: center;
}

    .header-top-left p:last-child {
        border-radius: 20px;
        padding: 4px 12px;
        background: var(--darkblue);
        margin-left: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

.header-top-right {
    display: flex;
    align-items: center;
}

.login-btn,
.language-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    color: #fff;
}

.header-top-right p {
    padding: 0px 10px;
    border-right: 1.2px solid rgba(255, 255, 255, 0.582);
    cursor: pointer;
}

    .header-top-right p:nth-child(3),
    .header-top-right p:nth-child(4) {
        display: flex;
        align-items: center;
    }

.language-btn {
    border-right: 1.2px solid #fff;
}

    .language-btn i:first-child {
        color: #ffda44;
        background: #d80027;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3px;
    }

.dropdown-menu {
    min-width: 130px !important;
    border-radius: 12px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #000;
}

    .dropdown-item:hover {
        background: none;
    }

    .dropdown-item div p:last-child {
        color: #b2bac6;
    }

    .dropdown-item img {
        width: 20px;
        height: 20px;
        object-fit: cover;
    }

.modal-content {
    border-radius: 15px !important;
    width: 800px !important;
}

.modal-body {
    padding: 0;
    color: #000;
    height: 500px !important;
    display: flex;
}

.modal-left {
    width: 333px;
}

.modal-body .modal-left img {
    width: 333px;
    height: 168px;
    border-top-left-radius: 15px;
}

.modal-left-text {
    box-sizing: border-box;
    padding: 20px;
    height: 332px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .modal-left-text h2 {
        color: var(--green);
        font-weight: 700;
        font-size: 33px;
    }

    .modal-left-text p {
        cursor: none;
        padding: 0;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
    }

    .modal-left-text div {
        background-color: #fffadd;
        border: 1px solid #feaa48;
        padding: 16px;
        width: 293px;
        height: 134px;
        border-radius: 12px;
        line-height: 25px;
        font-size: 18px;
        font-weight: normal;
    }

        .modal-left-text div a {
            color: var(--green);
            text-decoration: underline;
        }

.form-login {
    width: 500px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

    .form-login h1 {
        color: var(--black);
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 30px;
    }

    .form-login h2 {
        text-align: right;
        margin-bottom: 10px;
    }

        .form-login h2 a {
            font-size: 17px;
            color: #8e9aab;
            text-decoration: none;
        }

    .form-login h3 {
        text-align: center;
        font-size: 15.008px;
        line-height: 22px;
    }

    .form-login a {
        color: var(--green);
        font-size: 17px;
        font-weight: 700;
        line-height: 22px;
        text-align: center;
        text-decoration: underline;
    }

.needs-validation {
    padding: 0 55px;
}

    .needs-validation button {
        background: var(--blue);
        color: #fff;
        width: 100%;
        height: 54px;
        font-size: 17px;
        padding: 8px 20px;
        border-radius: 12px;
        line-height: 22px;
        font-weight: 700;
        margin-bottom: 20px;
    }

        .needs-validation button:hover {
            color: #fff;
        }

#uname {
    background-image: url(../img/user.png);
}

#pwd {
    background-image: url(../img/lock.png);
}

#uname,
#pwd {
    background-repeat: no-repeat;
    background-position: 0;
    height: 20px;
}

.form-group {
    border-bottom: 1.5px solid #ddd;
    padding: 5px;
}

    .form-group input {
        padding-left: 35px;
        border: none;
        box-shadow: none;
        font-size: 17px;
        font-weight: 600;
    }

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

    .logo div {
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 30px;
        width: 160px;
        height: 51px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo img {
        width: 75%;
        height: 70%;
        object-fit: cover;
    }

.dropbtn {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border: none;
    width: 135px;
    height: 54px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-category {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 54px;
    left: -22px;
    background-color: #fff;
    min-width: 176px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        border-radius: 12px;
        color: #000;
        padding: 9px 16px;
        text-decoration: none;
        display: block;
        background: #fff;
        font-size: 16px;
        font-weight: 500;
        z-index: 20;
    }

        .dropdown-content a:hover {
            background: #0f62f9;
            color: #fff;
        }

.dropdown-category:hover .dropdown-content {
    display: block;
}

.search input {
    background-image: url(../img/search.png);
    background-size: 5% 70%;
    background-repeat: no-repeat;
    background-position: 653px;
    width: 697px;
    height: 54px;
    border-radius: 12px;
    border: none;
    padding-left: 10px;
}

.cart {
    width: 140px;
    height: 54px;
    background: var(--darkblue);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 0 20px;
    font-size: 15px !important;
}

    .cart img {
        width: 30px;
        height: 30px;
    }

/* Body */
.container-body {
    padding: 20px 0;
    margin-top: 155px;
}

.carousel,
.carousel-inner {
    width: 839px;
    height: 258px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    opacity: 1;
    background: #fff;
    width: 44px;
    height: 44px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

    .carousel-control-prev-icon img,
    .carousel-control-next-icon img {
        width: 10px;
        height: 16px;
    }

.carousel-item img {
    border-radius: 12px;
}

.content-1 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 1215px;
}

.ct1-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .ct1-right img {
        width: 360px;
        height: 123px;
        border-radius: 12px;
    }

.content-2 {
    padding: 0 24px;
    width: 1215px;
    margin: 0 auto;
}

    .content-2 h1 {
        margin: 56px 0 24px 0;
        font-size: 24px;
        font-weight: 700;
    }

.ct2-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    cursor: pointer;
}

.ct2-item {
    padding: 5px 10px;
    text-align: center;
    font-size: 15.008px;
    width: 120px;
    height: 177px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .ct2-item:hover {
        border-radius: 12px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background: #f2f6fe;
        border: 1px solid #0f62f9;
    }

    .ct2-item p {
        height: 98px;
    }

.content-3 {
    background: var(--gray);
    padding: 32px 0;
}

.ct3-main {
    background-image: url('../../Vendor/img/banners/covid19-banner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 280px;
    padding: 24px 0 0 78px;
    width: 1215px;
    margin: 0 auto;
}

    .ct3-main div {
        display: flex;
    }

    .ct3-main h1 {
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 27px;
    }

    .ct3-main a {
        color: #fff;
        text-decoration: underline;
    }

.ct3-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 110px;
    margin-left: 22px;
}

    .ct3-item img {
        width: 64px;
        height: 64px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .ct3-item p {
        color: #fff;
        font-weight: 700;
        line-height: 22px;
        text-align: center;
    }

.ct4-vc-wrap {
    display: flex;
}

.content-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

    .content-4 img {
        width: 692px;
        height: 110px;
        margin-bottom: 30px;
    }

.ct4-voucher {
    padding-right: 50px;
    width: 469px;
    height: 150px;
    background-image: url('../../Vendor/img/icon/subtract.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .ct4-voucher div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 150px;
    }

        .ct4-voucher div:first-child h1 {
            font-size: 38px;
            font-weight: 700;
            line-height: 52px;
            color: #fff;
        }

        .ct4-voucher div:first-child h4 {
            font-size: 18px;
            line-height: 23px;
            color: #fff;
            text-align: center;
        }

        .ct4-voucher div:first-child p {
            color: #fff;
            font-size: 14px;
            line-height: 23px;
        }

    .ct4-voucher div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .ct4-voucher div:last-child img {
            width: 37px;
            height: 37px;
        }

        .ct4-voucher div:last-child p {
            color: #e95078;
            font-size: 14px;
            font-weight: 700;
            line-height: 30px;
        }

        .ct4-voucher div:last-child button {
            background: #fce3e3;
            color: #e95078;
            font-size: 14px;
            font-weight: 700;
            line-height: 30px;
            border: none;
            border-radius: 4px;
            padding: 0 20px;
        }

.main-content {
    background: var(--gray);
    padding: 32px 0;
}

.item {
    box-sizing: border-box;
    width: 223px;
    height: 445px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 17px 15px;
    background: #fff;
    margin-left: 16px;
}

    .item div {
        padding: 0px 10px;
    }

    .item img {
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .item p {
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .item h4 {
        color: var(--blue);
        font-weight: 700;
        font-size: 20px;
    }

    .item button {
        width: 199px;
        height: 44px;
        background: var(--green);
        color: #fff;
        line-height: 24px;
        padding: 1px 6px;
        text-align: center;
        border-radius: 12px;
        border: none;
    }

    .item:hover {
        cursor: pointer;
        border: 2px solid var(--green);
    }

.ct5-wrap {
    background: #fff;
    padding: 48px 20px;
}

    .ct5-wrap .title,
    .ct5-wrap .carousel {
        width: 1215px;
        margin: 0 auto;
    }

    .ct5-wrap .carousel-item {
        width: 223px;
        height: 460px;
        padding: 5px 0;
    }

.active {
    display: flex !important;
    justify-content: space-between;
}

.ct5-wrap .carousel-inner {
    height: 480px;
    width: 104%;
}

.ct5-wrap .carousel {
    height: 445px;
}

.ct5-wrap .carousel-indicators {
    bottom: -44px;
    z-index: 7 !important;
}

    .ct5-wrap .carousel-indicators li {
        background: #000;
        border: none;
    }

.ct5-wrap .carousel-control-next,
.ct5-wrap .carousel-control-prev {
    width: 1%;
}

.ct5-wrap .carousel-control-next {
    right: -30px
}

.title {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .title h1 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 26px;
    }

    .title a {
        color: var(--green);
        text-decoration: underline;
        font-size: 15px;
        font-weight: 600;
    }

.ct5-wrap:last-child {
    padding-bottom: 70px;
}

.container-brand {
    height: 313px;
    padding: 40px 0;
    width: 1215px;
    margin: 0 auto;
}

.brand-wrap {
    display: flex;
    justify-content: space-between;
}

.brand-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 23px;
    height: 148px;
    cursor: pointer;
}

    .brand-item img {
        width: 110px;
        height: 110px;
        object-fit: cover;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 12px;
    }

    .brand-item p {
        font-weight: 500;
    }

.container-news {
    background: var(--gray);
    padding: 32px 0;
}

.wrap-news {
    width: 1215px;
    margin: 0 auto;
    height: 500px;
    background: #fff;
    padding: 52px 0;
}

    .wrap-news .title {
        margin-bottom: 30px;
    }

.nav-link {
    color: #000;
    font-weight: 500;
}

.nav-pills .nav-link.active {
    background: #fff;
    border-bottom: 2px solid var(--blue);
    color: var(--blue);
    border-radius: 0;
    font-weight: 600;
}

#pills-tab {
    border-bottom: 1px solid #ddd;
}

.tabs-news {
    padding: 0 23px;
}

    .tabs-news.tab-content.tab-pane {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.news {
    display: flex;
    flex-direction: column;
    width: 276px;
    cursor: pointer;
}

    .news img {
        width: 276px;
        object-fit: cover;
    }

    .news p {
        font-weight: 700;
        font-size: 25px;
    }

.container-banner {
    background: var(--gray);
    width: 100%;
    text-align: center;
}

.banner {
    margin: 0 auto;
    width: 1215px;
    padding: 0 32px 32px;
    background: var(--gray);
}

.container-suggestion-item {
    background: var(--gray);
    margin: 0 auto;
    width: 1215px;
}

.tabs-items .nav-pills {
    width: 1215px;
    display: flex;
    justify-content: space-between;
}

    .tabs-items .nav-pills .nav-link {
        height: 78px;
        width: 152px;
        border-radius: 12px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 600;
    }

        .tabs-items .nav-pills .nav-link.active {
            border-radius: 12px;
            background: #f33060;
            color: #fff;
            border: none;
            align-items: center;
            justify-content: center;
        }

            .tabs-items .nav-pills .nav-link.active i {
                color: rgb(255, 255, 255);
            }

.tab-pane .item {
    margin-left: 0px;
    margin-bottom: 18px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.wrap-items {
    width: 1215px;
    display: flex;
    justify-content: space-between;
}

.btn-xemthem {
    margin: 0 auto;
    width: 160px;
    height: 40px;
    background: #fff;
    border: 1px solid var(--blue);
    border-radius: 4px;
    margin-bottom: 20px;
}

.container-service {
    width: 1215px;
    margin: 0 auto;
    padding: 74px 20px;
}

.service-top {
    display: flex;
    justify-content: space-between;
}

.service-item {
    width: 280px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

    .service-item h2 {
        font-size: 17px;
        line-height: 22px;
        font-weight: 700;
        color: var(--blue);
    }

    .service-item p {
        color: #8e9aab;
        font-size: 15px;
        line-height: 22px;
    }

.service-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

    .service-bot p {
        font-weight: 500;
        font-size: 18px;
    }

    .service-bot input {
        background-image: url(../img/mail.png);
        background-size: 7% 100%;
        background-repeat: no-repeat;
        background-position: 0;
        border: none;
        border-bottom: 1.5px solid #ddd;
        width: 365px;
        padding-left: 30px;
    }

        .service-bot input::placeholder {
            color: #8e9aab;
            font-size: 17px;
            font-weight: 500;
        }

    .service-bot button {
        width: 180px;
        height: 54px;
        background: var(--blue);
        color: #fff;
        border-radius: 12px;
        font-size: 15px;
        border: none;
        font-weight: 500;
    }

.bg {
    background: var(--blue);
    width: 100%;
    height: 10px;
}

.container-footer {
    background: var(--gray);
    height: 597px;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    padding: 0 23px;
    border-bottom: 1px solid #ddd;
}

.ft1-item {
    width: 243px;
}

    .ft1-item h4 {
        margin-top: 60px;
        margin-bottom: 20px;
        color: #5e6f88;
        font-weight: 700;
        font-size: 18px;
    }

    .ft1-item h3 {
        color: var(--blue);
        font-weight: 700;
        font-size: 18px;
        cursor: pointer;
        margin-bottom: 15px;
    }

    .ft1-item p {
        color: #5e6f88;
        font-weight: 500;
        margin-bottom: 15px;
        line-height: 30px;
        cursor: pointer;
    }

    .ft1-item:nth-child(3) p {
        margin: 0;
    }

    .ft1-item:nth-child(3) div {
        display: flex;
        align-items: center;
    }

        .ft1-item:nth-child(3) div img {
            width: 20px;
            height: 20px;
        }

    .ft1-item:nth-child(4) {
        width: 370px;
    }

        .ft1-item:nth-child(4) div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #5e6f88;
        }

            .ft1-item:nth-child(4) div div:last-child img {
                margin-bottom: 20px;
            }

            .ft1-item:nth-child(4) div div {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

.footer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0;
    justify-content: space-between;
}

    .footer2 div {
        text-align: center;
        margin-bottom: 20px;
    }

.news-tab {
    width: 1250px;
    height: auto;
    margin: 0 auto;
}


    .news-tab .nav-link {
        padding: 20px;
        font-size: 18px;
        font-weight: bold;
    }

        .news-tab .nav-link.active {
            ;
            font-weight: bold;
        }

.blog-content {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

.blog-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
}

.hr {
    width: 70px;
    border-top: 1px solid grey;
    margin: auto;
}

.news-tab a {
    color: black;
    text-decoration: none;
}

.news-body {
    width: 100%;
    height: auto;
}

.news-header {
    width: 100%;
    padding-left: 150px;
}

    .news-header ul {
        display: flex;
        list-style: none;
    }

    .news-header li {
        margin-left: 9px;
        line-height: 20px;
        font-weight: 700;
    }

        .news-header li i {
            color: #112950;
            font-size: 4px;
            margin-right: 9px;
        }

        .news-header li:first-child {
            margin-left: 0;
        }

        .news-header li:first-child,
        .news-header li:nth-child(2) {
            opacity: .3;
        }

.news-body {
    width: 100%;
}

    .news-body h3 {
        width: fit-content;
        margin: 0 auto;
        color: #0f62f9;
        font-size: 1.25rem;
        line-height: 32px;
        font-weight: 700
    }

    .news-body h1 {
        text-align: center;
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

.news-content {
    width: 100%;
    margin-top: 25px;
}

    .news-content .news-img {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

.news-img img {
    width: 40%;
}

.news-content-title {
    width: 80%;
    margin: auto;
    font-size: 20px;
}
