
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Medimall - Admin</h6>
    </div>
    <div class="card-body">
        <div class="text-center">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="~/Vendor/img/banners/undraw_posting_photo.svg" />
        </div>
        <p>
            Với mong muốn cải thiện chất lượng cuộc sống với <a target="_blank" rel="nofollow" href="https://undraw.co/">Medimall</a>, chúng tôi
            luôn ngày đêm nỗ lực nhằm nâng cao trải nghiệm khách hàng cũng như các dịch vụ chăm sóc sức khỏe.
        </p>
        <a target="_blank" rel="nofollow" href="@Url.Action("Index","AdminStatistics")">
            Bắt đầu ngay →
        </a>
    </div>
</div>

