<div class="content-3">
    <div class="ct3-main">
        <h1>Chuyên mục covid-19</h1>
        <div>
            <div class="ct3-item">
                <img src="~/Vendor/img/icon/icon-1.png" />
                <p>TRIỆU CHỨNG COVID-19</p>
                <a href="#">Tìm hiểu thêm</a>
            </div>
            <div class="ct3-item">
                <img src="~/Vendor/img/icon/icon-2.png" />
                <p>BỆNH NHÂN COVID-19</p>
                <a href="#">Tìm hiểu thêm</a>
            </div>
            <div class="ct3-item">
                <img src="~/Vendor/img/icon/icon-3.png" />
                <p>CHĂM SÓC BỆNH NHÂN COVID-19</p>
                <a href="#">Tìm hiểu thêm</a>
            </div>
            <div class="ct3-item">
                <img src="~/Vendor/img/icon/icon-4.png" />
                <p>THUỐC ĐIỀU TRỊ COVID-19</p>
                <a href="#">Tìm hiểu thêm</a>
            </div>
            <div class="ct3-item">
                <img src="~/Vendor/img/icon/icon-5.png" />
                <p>THIẾT BỊ ĐO SPO2</p>
                <a href="#">Tìm hiểu thêm</a>
            </div>
            <div class="ct3-item">
                <img src="~/Vendor/img/icon/icon-6.png" />
                <p>ĐƯỜNG DÂY NÓNG</p>
                <a href="#">Tìm hiểu thêm</a>
            </div>
        </div>
    </div>
</div>
