@model IEnumerable<Medimall.Models.Category>

<div class="content-2" style="background: #fff; width: 1255px">
    <h1>Danh mục sản phẩm</h1>
    <div class="ct2-wrap">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("ViewProductForCategory","Home",new {id=item.CategoryName})" style="text-decoration:none;color:black">
                <div class="ct2-item">
                    <img src="~/Vendor/img/categories/@(item.CategoryId).png" />
                    <p>@item.CategoryName</p>
                </div>
            </a>
        }
    </div>
</div>


