
@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}



<div class="wrap-header"></div>
<div class="container-main">
    <div class="container-item">
        <div class="item">
            <img src="../img/3.png" alt="">
            <div>
                <p>Găng tay cao su y tế size M Vglove (100 chiếc/hộp)</p>
                <h4>140.000 VND/Hộp</h4>
            </div>
            <button>Thêm vào giỏ hàng</button>
        </div>
        <div class="item">
            <img src="../img/3.png" alt="">
            <div>
                <p>Găng tay cao su y tế size M Vglove (100 chiếc/hộp)</p>
                <h4>140.000 VND/Hộp</h4>
            </div>
            <button>Thêm vào giỏ hàng</button>
        </div>
        <div class="item">
            <img src="../img/3.png" alt="">
            <div>
                <p>Găng tay cao su y tế size M Vglove (100 chiếc/hộp)</p>
                <h4>140.000 VND/Hộp</h4>
            </div>
            <button>Thêm vào giỏ hàng</button>
        </div>
        <div class="item">
            <img src="../img/3.png" alt="">
            <div>
                <p>Găng tay cao su y tế size M Vglove (100 chiếc/hộp)</p>
                <h4>140.000 VND/Hộp</h4>
            </div>
            <button>Thêm vào giỏ hàng</button>
        </div>
        <div class="item">
            <img src="../img/3.png" alt="">
            <div>
                <p>Găng tay cao su y tế size M Vglove (100 chiếc/hộp)</p>
                <h4>140.000 VND/Hộp</h4>
            </div>
            <button>Thêm vào giỏ hàng</button>
        </div>
        <div class="item">
            <img src="../img/3.png" alt="">
            <div>
                <p>Găng tay cao su y tế size M Vglove (100 chiếc/hộp)</p>
                <h4>140.000 VND/Hộp</h4>
            </div>
            <button>Thêm vào giỏ hàng</button>
        </div>
        <div class="item">
            <img src="../img/3.png" alt="">
            <div>
                <p>Găng tay cao su y tế size M Vglove (100 chiếc/hộp)</p>
                <h4>140.000 VND/Hộp</h4>
            </div>
            <button>Thêm vào giỏ hàng</button>
        </div>
        <div class="item">
            <img src="../img/3.png" alt="">
            <div>
                <p>Găng tay cao su y tế size M Vglove (100 chiếc/hộp)</p>
                <h4>140.000 VND/Hộp</h4>
            </div>
            <button>Thêm vào giỏ hàng</button>
        </div>
        <div class="item">
            <img src="../img/3.png" alt="">
            <div>
                <p>Găng tay cao su y tế size M Vglove (100 chiếc/hộp)</p>
                <h4>140.000 VND/Hộp</h4>
            </div>
            <button>Thêm vào giỏ hàng</button>
        </div>
        <div class="item">
            <img src="../img/3.png" alt="">
            <div>
                <p>Găng tay cao su y tế size M Vglove (100 chiếc/hộp)</p>
                <h4>140.000 VND/Hộp</h4>
            </div>
            <button>Thêm vào giỏ hàng</button>
        </div>
    </div>
</div>

