@model Medimall.Models.Cart
@if (ViewBag.QuantityCart == null)
{
    <a href="#">
        <div class="cart">
            Giỏ hàng
            <img src="~/Vendor/img/icon/shopping-cart.png" />
        </div>
    </a>
}
else
{
    <a href="@Url.Action("ShowCart","Cart")">
        <div class="cart">
            <div>
                Giỏ hàng
                <p>@ViewBag.TotalMoney</p>
            </div>
            <p class="cart_soluong">@ViewBag.QuantityCart</p>
            <img src="~/Vendor/img/icon/shopping-cart.png" />
        </div>
    </a>

}


