:root {
  --blue: #0f62f9;
  --darkblue: #003cbf;
  --green: #5dac46;
  --gray: #ededed;
  --black: #112950;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

body {
  background: var(--gray);
  font-family: Tahoma, sans-serif;
}

.container-body {
  background: var(--gray);
  color: var(--black);
  width: 1296px;
  margin: 0 auto 30px;
}

.body-header {
  display: flex;
  margin: 0 0 24px;
  padding: 24px 24px 0;
}

.body-header li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 9px;
  line-height: 20px
}

.body-header li i {
  color: var(--green);
  font-size: 4px;
  margin-right: 9px;
}

.body-header li:first-child {
  margin-left: 0;
}

.body-header li:first-child,
.body-header li:nth-child(2) {
  opacity: .3;
}

.content-body {
  display: flex;
  justify-content: space-between;
  padding: 0 60px 0 24px;
}

.main-content,
.sidebar-wrap {
  background: #fff;
  border-radius: 12px;
}

.sidebar-wrap {
  width: 420px;
  background: var(--gray);
}

.main-content {
  width: 775px;
  height: 977px;
}

.info-user-wrap {
  background: var(--blue);
  height: 354px;
  border-radius: 12px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
}

.info-user-wrap img {
  background: #fff;
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.point-wrap {
  background: #fff;
  width: 380px;
  height: 202px;
  border-radius: 12px;
  padding: 10px;
  color: #000;
}

.barPoint {
  display: flex;
  align-items: center;
  justify-content: center;
}

.barPoint hr {
  width: 50%;
  height: 6px;
  width: 277px;
  background: var(--gray);
  border: none;
  margin: 0;
}

.barPoint+div {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.barPoint i:first-child,
.imgthanhvien:first-child p {
  color: var(--green);
}

.point-wrap i:last-child {
  color: var(--gray);
}

.imgthanhvien {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  width: 65px;
  height: 58px;
}

.imgthanhvien img {
  width: 83%;
  height: 65%;
  object-fit: fill;
}

.barPoint+div div:nth-child(2) {
  color: var(--black);
  font-size: 13px;
  text-align: center;
}

.barPoint+div div:nth-child(2) p:first-child {
  color: #757575;
}

.hrpb {
  width: 106%;
  margin-left: -10px;
  margin-bottom: 0;
  margin-top: 0;
}

.imgthanhvien1 {
  margin-top: 18px;
  width: 83px;
  border-right: 1px solid #ddd;
  text-align: center;
}

.imgthanhvien1 img {
  width: 65px;
  height: 50px;
}

.imgthanhvien1 p {
  font-weight: 600;
  font-size: 12px;
}

.hrpb+div {
  display: flex;
  justify-content: space-between;
}

.accumulated-points {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 227px;
  margin-top: 18px;
}

.accumulated-points div {
  display: flex;
  justify-content: space-between;
  color: #5dac46;
  font-size: 12px;
  font-weight: 500;
}

.accumulated-points div:first-child {
  color: #0f62f9;
}

.accumulated-points div:last-child {
  color: #ce3c3c;
}

.sidebar1,
.sidebar2,
.sidebar3 {
  background: #fff;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 12px;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active svg,
.nav-pills .nav-link:hover,
.nav-pills .nav-link:hover svg {
  color: var(--blue);
  background: #f2f6fe;
  stroke: var(--blue);
}

#v-pills-deliveryaddress.active svg,
#v-pills-deliveryaddress:hover svg {
  fill: var(--blue);
}

#v-pills-deliveryaddress svg {
  stroke: none;
  fill: var(--black);
}

.nav-link svg {
  stroke: var(--black);
}

.sidebar2 .nav-link:last-child svg {
  stroke: none;
}

.sidebar2 .nav-link:nth-child(2) div p:last-child,
.sidebar2 .nav-link:nth-child(3) div p:last-child {
  color: #17479e;
  font-weight: 700;
}

.sidebar1 .nav-link,
.sidebar2 .nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  height: 64px;
  border-bottom: 1px solid #ddd;
  border-radius: 0 !important;
}

.nav-link div {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-link svg {
  margin-right: 10px;
}

.sidebar1 i,
.sidebar2 i {
  color: #b2bac6;
}

.sidebar2 {
  margin-top: 20px;
  height: 192px;
  cursor: pointer;
}

.sidebar2 .nav-link:hover,
.sidebar2 .nav-link:hover i,
.sidebar2 .nav-link:hover svg,
.sidebar2 .nav-link:hover svg path {
  color: var(--blue);
  background: #f2f6fe;
  stroke: var(--blue);
}

.sidebar2 .nav-link:nth-child(3):hover svg path {
  stroke: none;
  fill: var(--blue);
}

.sidebar3 {
  margin-top: 20px;
  height: 199px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#v-pills-personal-information {
  padding: 20px;
}

.upload-img-wrap {
  width: 395px;
  margin-top: 20px;
}

.avatar-upload {
  display: flex;
  flex-direction: column;
}

.avatar-upload .avatar-edit {
  position: relative;
  z-index: 10;
}

.avatar-edit svg {
  position: absolute;
  top: 35px;
  left: 145px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload label {
  cursor: pointer;
  color: var(--blue);
  text-decoration: underline;
  font-size: 13px;
  text-align: center;
  width: 150px;
  margin-left: -19px;
}


.avatar-upload .avatar-preview {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 0 auto;
  z-index: 100;
}

.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.upload-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 5px;
}

.upload-info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 415px;
}

.span-input {
  margin-top: 20px;
}

.span-input.name {
  display: flex;
}

.span-input i {
  font-size: 5px;
}

.span-input p {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--black);
}

.span-input:nth-child(1) div {
  width: 198px;
}

.span-input:nth-child(3) input,
.span-input:nth-child(4) input,
.span-input:nth-child(5) input {
  width: 100%;
}

.span-input input {
  border: none;
  border-bottom: 1px solid #ddd;
}

.span-input:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.upload-info-wrap a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  width: 30%;
  font-weight: 500;
}

.upload-info-wrap a:hover {
  text-decoration: none;
}

.upload-info-wrap a i {
  margin-top: 4px;
}

.upload-info-wrap button {
  border-radius: 12px;
  color: #fff;
  height: 45px;
  border: none;
  background: #0f62f9;
  font-weight: 500;
}

.upload-info-wrap button:disabled {
  opacity: .5;
}

.span-input:nth-child(2) div {
  width: 100%;
  margin: 0;
}

.span-input input[type='radio'] {
  margin: 0;
}

.span-input input[type='radio']+label {
  margin-right: 50px;
}

.span-input input:disabled:not(:placeholder-shown) {
  background: none;
}

.span-input input:not(:placeholder-shown) {
  background: #e8f0fe;
}

.span-input input::placeholder {
  color: rgba(0, 0, 0, 0);
}

.sidebar3 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar3 div {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.sidebar3 h5 {
  color: var(--blue);
  margin: 0 10px;
}

.sidebar3 p {
  margin-top: 3px;
  font-size: 10px;
}

.sidebar3 h3 {
  text-align: center;
  margin: auto;
  font-size: 17px;
}

.sidebar3 h3 a {
  color: #8e9aab;
  text-decoration: none;
}