:root {
  --blue: #0f62f9;
  --darkblue: #003cbf;
  --green: #5dac46;
  --gray: #ededed;
  --black: #112950;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

body {
  background: var(--gray);
  font-family: Tahoma, sans-serif;
}

.container-body {
  background: var(--gray);
  color: var(--black);
  margin: 0 auto;
  width: 1215px;
}

.body-header {
  display: flex;
  margin: 0 0 24px;
  padding: 24px 24px 0;
}

.body-header li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 9px;
  line-height: 20px
}

.body-header li i {
  color: var(--green);
  font-size: 4px;
  margin-right: 9px;
}

.body-header li:first-child {
  margin-left: 0;
}

.body-header li:first-child {
  opacity: .3;
}

.content-body {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.ct-left {
  padding: 24px;
  width: 766px;
  height: 406px;
  background: #fff;
  border-radius: 12px;
  box-sizing: border-box;
}

.ct-left div {
  text-align: center;
  font-size: 14px;
}

.ct-right {
  padding: 24px;
  width: 377px;
  height: 197px;
  background: #fff;
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.ct-right span {
  display: flex;
  justify-content: space-between;
}

.ct-right a {
  color: #fff;
  text-decoration: none;

}

.ct-right button {
  width: 329px;
  height: 54px;
  background: #feaa48;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  border: none;
  position: relative;
}

.ct-right button i {
  position: absolute;
  top: 20px;
  left: 240px;
}