@model IEnumerable<Medimall.Models.BillDetail>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" type="text/css">
}
<style>

    .title {
        margin-top: 30px;
        text-align: center;
    }

    hr {
        width: 400px; 
        background-color: #ddd;
        border: 1px solid #ddd;
    }

    .main-container {
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 0 auto;
        max-width: 700px;
        height: 550px;
        padding: 70px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .block_item {
        margin: 20px;
        width: 170px;
        height: 120px;
        text-align: center;
        padding: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: .3s;
        color: #fff;
    }

        .block_item:hover {
            box-shadow: #abc1ff 0px 2px 8px 0px;
            transform: scale(1.05);
        }

        .block_item h4 {
            margin: 0;
        }

    .bottom-content {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
</style>
<link href="~/Vendor/css/admin-site.css" rel="stylesheet" />
<h2 class="text-center">Quản lí thống kê</h2>

<div class="statistics-content">

    <div class="main-container">
        <h2 class="title">THỐNG KÊ TỔNG QUAN</h2>
        <hr>
        <div class="container">
            <div class="block_item" style="background-color: #f8c291">
                <i class="fa fa-solid fa-user"></i><h4>Người dùng</h4>
                @ViewBag.account
            </div>
            <div class="block_item" style="background-color: #b8e994">
                <i class="fas fa-user-md"></i>
                <h4>Staff</h4>
                @ViewBag.staff
            </div>
            <div class="block_item" style="background-color: #82ccdd">
                <i class="fas fa-user-shield"></i>
                <h4>Admin</h4>
                @ViewBag.admin
            </div>
        </div>
    </div>
    <hr />
    <div class="bottom-content">
        <h2 class="title">Thống Kê Doanh Thu Sản Phẩm Theo Tháng</h2>
        <div style="margin:auto;text-align:center">
            <span>Từ ngày </span>&emsp;
            <input type="date" id="txtstartday" value="" style="height:40px;">&emsp;
            <span>Đến ngày</span>&emsp;
            <input type="date" id="txtendday" value="" style="height:40px;">&emsp;
            <input type="submit" id="search-btn" value="Tìm kiếm" style="padding: 10px; background-color: #4a69bd;color:white;border-radius:5px;border:none" />
        </div>
        <br />
        <div id="table-statistics" style="display:none">
            <table class="table table-striped">
                <thead style="background-color: #4e73df; color: white">
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Giá bán
                        </th>
                        <th>
                            Số Lượng Bán
                        </th>
                    </tr>
                </thead>
                <tbody id="tblStas">
                </tbody>
                <tbody id="tbltotal">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        debugger
        $("#search-btn").click(function () {
        var Startday = $("#txtstartday").val();
        var Endday = $("#txtendday").val();
        var SetData = $("#tblStas");
        var SetTotal = $("#tbltotal")
        SetData.html("");
        $("#table-statistics").show();
        $.ajax({
            type: "post",
            url: "/AdminStatistics/GetSearchingData?Startday=" + Startday + "&Endday=" + Endday,
            contentType: "html",
            success: function (result) {
                var rowData = "";
                if (result.data.length == 0) {
                    SetData.append('<tr style="color:red"><td colspan="5">Không tìm thấy</td></tr>')
                }
                for (var i = 0; i < result.data.length; i++) {
                            rowData = '<tr><td>' + (i + 1) + '</td > ' +
                            '<td>' + result.data[i].ProductName + '</td>' +
                                '<td>' + (Math.round(result.data[i].Price * 100) / 100).toLocaleString() + ' VND' + '</td>' +
                               '<td>' + result.data[i].Quantity + '</td>' +
                        '</tr>';
                    SetData.append(rowData);
                }
                var total = '<tr>' + '<td colspan="3" style="background-color:#4e73df; color: white"> Doanh Thu(đã bao gồm phí vận chuyển và Voucher)  </td>' +
                    '<td>' + (Math.round(result.total * 100) / 100).toLocaleString() + ' VND' + '</td>' + '</tr>';
                SetTotal.append(total)
            }
        })
    })
    })
</script>

