
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align: center; background-color: #0f62f9;font-size:45px;color:white">
        <b>Thư xác thực Email từ Medimall</b>
    </div>
    <div>
        <pre>
            Chào bạn! 
            Cảm ơn bạn đã đăng kí ở Medimall! Chúng tôi cần bạn click vào đây để xác thực Email
             => <a href="@ViewBag.ConfirmationLink">Click Here</a>
        </pre>
    </div>
</body>
</html>
